<footer class="text-left text-muted bg-light">
  <div class="container-fluid p-3 p-md-5">
    <ul class="list-inline" style="font-weight: 500;">
      <li class="list-inline-item"><a href="{{ site.github }}" target="_blank">GitHub</a></li>
      <li class="list-inline-item"><a href="{{ site.twitter }}" target="_blank">Twitter</a></li>
    </ul>
      <p class="mb-0">
        Built with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://twitter.com/mattymariani" target="_blank">@matty.mariani</a>. Maintained through copious ammounts of <i class="fa fa-coffee" aria-hidden="true"></i>.
      </p>
      <p class="mb-0">
        Currently v{{ site.curr_version }} licensed under <a href="{{ site.license }}" target="_blank">zlib/libpng</a>.
      </p>
  </footer>
</footer>
