<div class="card">
  <!-- <div class="card-header">
    Documentation
  </div> -->
  <div class="card-body">
    <h5 class="card-title mb-0">Documentation</h5>
    <ul class="list-unstyled">
      {% for module in site.data.catagory.modules %}
      <li>
        {% if module.name == "acorn" %}
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ module.name }}/">
          {{ module.name }}
        </a>
        {% else %}
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ module.parent }}.{{ module.name }}/">
          {{ module.parent }}.{{ module.name }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <h5 class="card-title mb-0">Navigation</h5>
    <ul class="list-unstyled">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/index/">Index</a></li>        
    </ul>
  </div>
</div>
