---
layout: home
---

<main class="p-3 p-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center text-md-left pr-md-5">
        <h1>Acorn2D</h1>
        <p class="lead">
          Build 2D games in Squirrel.
        </p>
        <p class="lead mb-4">
          Acorn is an open source, multi-platform framework for developing 2D games in Squirrel using OpenGL, and provides a simple API for developing games for Windows, macOS and Linux.
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/index/" class="btn btn-lg btn-outline-primary mb-3 mb-md-0 mr-md-3">
            Documentation
          </a>
          <a href="#" class="btn btn-lg btn-outline-primary">
            <i class="fa fa-download" aria-hidden="true"></i>
            Download
          </a>
        </div>
        <p class="text-muted mb-0">
          Version: {{ site.curr_version }}
        </p>
      </div>
    </div>
  </div>
</main>

<div class="row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3><i class="fa fa-github" aria-hidden="true"></i> Open Source</h3>
    <p>Acorn is licensed under the <a href="{{ site.license }}" target="_blank">zlib/libpng</a> license. It is very short and very permissive.</p>
    <p>Check out the source over on <a href="{{ site.github }}" target="_blank">GitHub</a>.
  </div>
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3><i class="fa fa-gamepad" aria-hidden="true"></i> Support</h3>
    <p>Support for controller, joystick, keyboard, mouse, touch, time and window events via callbacks.</p>
  </div>
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3><i class="fa fa-book" aria-hidden="true"></i> Reference</h3>
    <p>Check out the docs for references, examples, and for help getting started.</p>
    <p><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/index/" target="_blank">Read the docs</a>.
  </div>
</div>

<!--
<div class="row m-0">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3><i class="fa fa-cogs" aria-hidden="true"></i> Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3><i class="fa fa-wheelchair" aria-hidden="true"></i> Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3><i class="fa fa-book" aria-hidden="true"></i> Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
-->
