<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">

      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3">
          {% include sidebar.html %}
        </div>

      <main class="col-12 col-md-9 col-xl-10 py-md-3">

				{% assign self = site.data.catagory.callbacks | where:"name", page.title | first %}

				<h1>{{ self.name }}</h1>
        <p class="lead">{{ self.description }}</p>

        {{ content }}

				{% if self.parent %}

				<h5>See also</h5>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ self.parent }}/">{{ self.parent }}</a></li>
				</ul>

				{% endif %}

      </main>
    </div>
  </body>
</html>
