<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/monokai.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">

      <!-- navigation -->
      <div class="col-12 col-md-3 col-xl-2 py-md-3">

        <!-- documentation -->
        <div class="card">
          <div class="card-header">
            Documentation
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><a href="/docs/acorn/acorn.html">acorn</a></li>
              <li><a href="/docs/audio/audio.html">acorn.audio</a></li>
              <li><a href="/docs/data/data.html">acorn.data</a></li>
              <li><a href="/docs/event/event.html">acorn.event</a></li>
              <li><a href="/docs/filesystem/filesystem.html">acorn.filesystem</a></li>
              <li><a href="/docs/font/font.html">acorn.font</a></li>
              <li><a href="/docs/graphics/graphics.html">acorn.graphics</a></li>
              <li><a href="/docs/image/image.html">acorn.image</a></li>
              <li><a href="/docs/joystick/joystick.html">acorn.joystick</a></li>
              <li><a href="/docs/keyboard/keyboard.html">acorn.keyboard</a></li>
              <li><a href="/docs/mouse/mouse.html">acorn.mouse</a></li>
              <li><a href="/docs/sound/sound.html">acorn.sound</a></li>
              <li><a href="/docs/system/system.html">acorn.system</a></li>
              <li><a href="/docs/timer/timer.html">acorn.timer</a></li>
              <li><a href="/docs/window/window.html">acorn.window</a></li>
            </ul>
          </div>
        </div>

      </div>

      <!-- content -->
      <div class="col-12 col-md-9 col-xl-10 py-md-3">
        {{ content }}
      </div>

    </div>
  </div>
</body>

</html>
