<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3">
          {% include sidebar.html %}
        </div>

      <main class="col-12 col-md-9 col-xl-10 py-md-3">
        <!-- docs version -->
        <!--
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Small button
          </button>
          <div class="dropdown-menu">
            ...
          </div>
        </div>
        -->

        <!-- {% assign self = site.data.catagory.modules | where:"name", page.title %} -->
        {% assign modules = site.data.catagory.modules | where:"parent", page.title | sort:"name" %}
        {% assign types = site.data.catagory.types | where:"parent", page.title | sort:"name" %}
        {% assign functions = site.data.catagory.functions | where:"parent", page.title | sort:"name" %}
        {% assign callbacks = site.data.catagory.callbacks | where:"parent", page.title | sort:"name" %}
        {% assign enums = site.data.catagory.enums | where:"parent", page.title | sort:"name" %}

				<h1>{{ page.title }}</h1>
        <p class="lead">{{ module.description }}</p>

        {{ content }}

        {% if modules.size > 0 %}
        <h5>Modules</h5>
        <table class="table table-bordered">
        <tbody>

        {% for module in modules %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ module.parent }}.{{ module.name }}/">
              {{ module.parent }}.{{ module.name }}
            </a>
          </td>
          <td>{{ module.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if callbacks.size > 0 %}
        <h5>Callbacks</h5>
        <table class="table table-bordered">
        <tbody>

        {% for cb in callbacks %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ cb.parent }}.{{ cb.name }}/">
              {{ cb.parent }}.{{ cb.name }}
            </a>
          </td>
          <td>{{ cb.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if types.size > 0 %}
        <h5>Types</h5>
        <table class="table table-bordered">
        <tbody>

        {% for type in types %}
        {% assign super = site.data.catagory.modules | where:"parent", func.parent %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ type.name }}/">
              {{ type.name }}
            </a>
          </td>
          <td>{{ type.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if functions.size > 0 %}
        <h5>Functions</h5>
        <table class="table table-bordered">
        <tbody>

        {% for func in functions %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ func.parent }}.{{ func.name }}/">
              {{ func.parent }}.{{ func.name }}
            </a>
          </td>
          <td>{{ func.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if enums.size > 0 %}
        <h5>Enums</h5>
        <table class="table table-bordered">
        <tbody>

        {% for enum in enums %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ enum.name }}/">
              {{ enum.name }}
            </a>
          </td>
          <td>{{ enum.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

      </main>
    </div>
  </body>
</html>
