<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">

      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3">
          {% include sidebar.html %}
        </div>

      <main class="col-12 col-md-9 col-xl-10 py-md-3">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
        {{ content }}
      </main>
    </div>
  </body>
</html>
