<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">

      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3">
          {% include sidebar.html %}
        </div>

      <main class="col-12 col-md-9 col-xl-10 py-md-3">

				{% assign self = site.data.catagory.functions | where:"name", page.title | first %}
				{% assign module = site.data.catagory.modules | where:"name", self.parent | first %}
				{% assign type = site.data.catagory.types | where:"name", self.parent | first %}

				{% if module %}

				<h1>{{ module.parent }}.{{ module.name }}.{{ self.name }}</h1>
        <p class="lead">{{ self.description }}</p>

				{% endif %}

				{% if type %}

				<h1>{{ type.name }}.{{ self.name }}</h1>
        <p class="lead">{{ self.description }}</p>

				{% endif %}

        {{ content }}

				{% if module %}

				<h5>See also</h5>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ module.parent }}.{{ module.name }}/">{{ self.parent }}</a></li>
				</ul>

				{% endif %}

				{% if type %}

				<h5>See also</h5>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ type.name }}/">{{ self.parent }}</a></li>
				</ul>

				{% endif %}

      </main>
    </div>
  </body>
</html>
