<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3">
          {% include sidebar.html %}
        </div>

      <main class="col-12 col-md-9 col-xl-10 py-md-3">
				{% assign self = site.data.catagory.modules | where:"name", page.title | first %}
        {% assign modules = site.data.catagory.modules | where:"parent", self.name | sort:"name" %}
        {% assign types = site.data.catagory.types | where:"parent", self.name | sort:"name" %}
        {% assign functions = site.data.catagory.functions | where:"parent", self.name | sort:"name" %}
        {% assign callbacks = site.data.catagory.callbacks | where:"parent", self.name | sort:"name" %}
        {% assign enums = site.data.catagory.enums | where:"parent", self.name | sort:"name" %}

				{% if self.parent %}
				<h1>{{self.parent}}.{{ self.name }}</h1>
				{% else if %}
				<h1>{{ self.name }}</h1>
				{% endif %}
        <p class="lead">{{ self.description }}</p>

        {{ content }}

        {% if modules.size > 0 %}
        <h5>Modules</h5>
        <table class="table table-bordered">
        <tbody>

        {% for module in modules %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ module.parent }}.{{ module.name }}/">
              {{ module.parent }}.{{ module.name }}
            </a>
          </td>
          <td>{{ module.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if callbacks.size > 0 %}
        <h5>Callbacks</h5>
        <table class="table table-bordered">
        <tbody>

        {% for cb in callbacks %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ cb.parent }}.{{ cb.name }}/">
              {{ cb.parent }}.{{ cb.name }}
            </a>
          </td>
          <td>{{ cb.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if types.size > 0 %}
        <h5>Types</h5>
        <table class="table table-bordered">
        <tbody>

        {% for type in types %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ type.name }}/">
              {{ type.name }}
            </a>
          </td>
          <td>{{ type.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if functions.size > 0 %}
        <h5>Functions</h5>
        <table class="table table-bordered">
        <tbody>

        {% for func in functions %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ self.parent }}.{{ func.parent }}.{{ func.name }}/">
              {{ self.parent }}.{{ func.parent }}.{{ func.name }}
            </a>
          </td>
          <td>{{ func.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if enums.size > 0 %}
        <h5>Enums</h5>
        <table class="table table-bordered">
        <tbody>

        {% for enum in enums %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ enum.name }}/">
              {{ enum.name }}
            </a>
          </td>
          <td>{{ enum.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

				{% if self.parent %}

				<h5>See also</h5>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ self.parent }}/">{{ self.parent }}</a></li>
				</ul>

				{% endif %}

      </main>
    </div>
  </body>
</html>
