<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3">
          {% include sidebar.html %}
        </div>

      <main class="col-12 col-md-9 col-xl-10 py-md-3">
				{% assign self = site.data.catagory.types | where:"name", page.title | first %}
				{% assign module = site.data.catagory.modules | where:"name", self.parent | first %}

        {% assign functions = site.data.catagory.functions | where:"parent", self.name | sort:"name" %}
        {% assign enums = site.data.catagory.enums | where:"parent", self.name | sort:"name" %}

				<h1>{{ self.name }}</h1>
        <p class="lead">{{ self.description }}</p>

        {{ content }}

        {% if functions.size > 0 %}
        <h5>Functions</h5>
        <table class="table table-bordered">
        <tbody>

        {% for func in functions %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ func.parent }}.{{ func.name }}/">
              {{ func.parent }}.{{ func.name }}
            </a>
          </td>
          <td>{{ func.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

        {% if enums.size > 0 %}
        <h5>Enums</h5>
        <table class="table table-bordered">
        <tbody>

        {% for enum in enums %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ enum.name }}/">
              {{ enum.name }}
            </a>
          </td>
          <td>{{ enum.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
        {% endif %}

				{% if self.parent %}

				<h5>See also</h5>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ module.parent }}.{{ module.name }}/">{{ module.name }}</a></li>
				</ul>

				{% endif %}

      </main>
    </div>
  </body>
</html>
